<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja nowego uzytkownika</title>
</head>
<body>
<h1>Rejestracja nowego uzytkownika:</h1>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <label>nazwa uzytkownika:</label>
    <input type="text" th:field="*{name}" />
    <br>
    <label>e-mail:</label>
    <input type="email" th:field="*{email}">
    <br>
    <label>haslo:</label>
    <input type="password" th:field="*{password}">
    <br>
    <button type="submit">Zarejestruj</button>
</form>
</body>
</html>